{{ define "team_index_map" }}
{{ template "part_head_start" .}}
{{ template "part_head_leaflet" . }}
{{ template "part_head_end" .}}
<body>

<div id="panel">
{{ template "part_messageBox" . }}

{{ template "team_status_header" dict "Team" .Team "TeamStatus" .TeamStatus "TeamPoints" .TeamPoints "TeamStats" .TeamStats "GameConfig" .GameConfig "CSRF" .CSRF }}

<div id="cipher-list" class="cipher-list">
<h2>Šifry</h2>
{{ template "team_ciphers_list" dict "Ciphers" .Ciphers "Team" .Team "Game" .GameConfig "CSRF" .CSRF }}
</div>
</div>

<div id="mapa" class="clickable"></div>

<script type="text/javascript">
// Map:

var currentPos = {{.TeamStatus.Point | latlon}}

var map = L.map('mapa', {
	"center": currentPos,
	"zoom": {{ .GameConfig.MapDefaultZoom }}, "minZoom": 6, "maxZoom": 18,
	"fullscreenControl": true, "fullscreenControlOptions": {"position":"topleft"}
});
// var hash = new L.Hash(map);

L.tileLayer('https://m{s}.mapserver.mapy.cz/turist-m/{z}-{x}-{y}', {
	attribution: "<img src='https://mapy.cz/img/logo-small.svg' /> © Seznam.cz,a.s, © Přispěvatelé <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a>, © NASA",
	subdomains: "1234",
}).addTo(map);

{{ range .Ciphers }}
	L.circle({{ .Config.Position.Point | latlon }}, {
		color: 'yellow',
		fillColor: '#fbff94',
		fillOpacity: 0.5,
		radius: {{ .Config.Position.Radius }}
	}).addTo(map);

	L.marker({{ .Config.Position.Point | latlon }}, {
		title: "{{ .Config.Name }}",
		icon: cipherIcon,
	}).addTo(map).on('click', function() {highlightCipher({{ .Config.ID }})});
{{ end }}

var marker = L.marker(currentPos, {
	title: "Vaše poslední pozice",
	icon: teamIcon,
}).addTo(map);

L.polyline([
{{- range .Locations }}{{ .Point | latlon }}, {{ end -}}
currentPos], {color: 'blue'}).addTo(map);

var lineToClick;

map.on('click', function(e) {
	if (lineToClick) lineToClick.remove();
	lineToClick = L.polyline([currentPos, e.latlng], {color: 'red'}).addTo(map);

	var popup = L.popup()
	.setLatLng(e.latlng)
	.setContent('...Počítám vzdálenost...')
	.openOn(map);

	$.ajax({
		url: '{{ basedir }}/api/calc-move',
		data: {
			lat: e.latlng.lat,
			lon: e.latlng.lng,
		},
		type: 'GET',
		dataType: 'json',
		success: function (data, textStatus, xhr) {
			if ("error" in data) {
				if (data["error"] == "cooldown") {
					popup.setContent("Ještě se nemůžete přesunout, musíte počkat do " + data["cooldown_to"]);
				} else if (data["error"] == "not-started") {
					popup.setContent("Hra ještě nezačala. Start je v " + data["start"]);
				} else if (data["error"] == "ended") {
					popup.setContent("Hra již skončila, konec byl v " + data["end"]);
				} else {
					popup.setContent("Jiná chyba: " + data["error"]);
				}
				return
			}
			popup.setContent(
				"<p>Přesun na vzdálenost <b>" + Math.round(data["distance"]) + " metrů</b>. "
				+"Přesunete se okamžitě a prohledáte okolí na přítomnost šifer, ale pak si "
				+"budete muset na <b>" + data["cooldown"] + "</b> odpočinout, než budete moci jít na novou pozici.</p>"
				+'<form method="POST">{{ .CSRF }}<input type="hidden" name="move-lat" value="' + e.latlng.lat + '">'
				+'<input type="hidden" name="move-lon" value="' + e.latlng.lng + '"><button class="btn btn-primary">Přesunout se</button></form>'
			);
		}
	});
}).on('popupclose', function(e) {
	if (lineToClick) lineToClick.remove();
});

// Hloupá pravidelná kontrola, jestli se něco změnilo
setInterval(function() {
	$.ajax({
		url: '{{ basedir }}/api/hash',
		type: 'GET',
		success: function (data) {
			if (data != '{{ .TeamHash }}') {
				window.location.reload();
			}
		}
	});
}, 10_000);

</script>

</body>
</html>
{{end}}
