{{ define "team_index" }}
{{ template "part_head_start" .}}
{{ template "part_head_end" .}}
<body>

{{ $now := .Now }}

<div id="team-status">
	<div class="container">
	<form method="POST" action="{{ basedir }}/logout" class="float-right">
		{{ .CSRF }}
		<button class="btn btn-sm btn-secondary">Odhlásit se</button>
	</form>
	<h2><small>Tým:</small> {{.TeamConfig.Name}}</h2>
	<ul>
		{{ if .TeamConfig.Jitsi }}<li>Jitsi meeting: <a target="_blank" href="https://meet.jit.si/{{ .TeamConfig.Jitsi }}"><code>{{ .TeamConfig.Jitsi }}</code></a></li>{{ end }}
		{{ if eq .GameConfig.OrderMode "points" }}<li>Získané body: <b>{{ .TeamPoints }}</b></li>{{ end }}
		{{ if .TeamStatus.CooldownTo }}{{ if $now.Before .TeamStatus.CooldownTo }}<li>Další pohyb bude možný v {{ .TeamStatus.CooldownTo | timestamp }}</li>{{ end }}{{ end }}
		{{ if .GameConfig.NotStarted $now }}<li>Hra začíná v {{ .GameConfig.Start | timestamp }}</li>
		{{- else if .GameConfig.Ended $now }}<li>Hra skončila v {{ .GameConfig.End | timestamp }}</li>
		{{- else if .GameConfig.HasEnd }}<li>Hra končí v {{ .GameConfig.End | timestamp }}</li>{{ end }}
	</ul>
	</div>
</div>

<div class="container">

{{ template "part_messageBox" . }}

<form method="post" id="code-form" style="margin: 1rem 0px;">
	{{ .CSRF }}
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">Kód:</span>
		</div>
		<input id="message" type="text" name="message" class="form-control" style="min-width: 100px; font-weight: bold;">
		<div class="input-group-append">
			<input type="submit" class="btn btn-primary" name="submit-message" value="Odeslat">
		</div>
	</div>
	<small class="form-text text-muted"><!--<b>Bez čísla týmu!</b> -->Za kód můžete připojit libovolný vzkaz organizátorům.</small>
</form>

<div class="panel cipher-list">
<h2>Šifry</h2>
{{ template "team_ciphers_list" dict "Ciphers" .Ciphers "Game" .GameConfig "CSRF" .CSRF }}
</div>


<div id="messages">
<h2>Zprávy</h2>

<table class="table table-bordered table-striped" id="history">
<thead>
	<tr><th>Čas</th><th>Zpráva od vás</th><th>Odpověď</th></tr>
</thead>
<tbody>
	{{ range .Messages}}
	<tr><td>{{ .Time | timestamp_hint }}</td><td>{{ .Text }}</td><td>{{ .Response | safeHTML }}</td></tr>
	{{ end }}
</tbody>
</table>
</div>

</div>

</body>
</html>
{{end}}
