#orgomapa {
	width: 100%;
	height: 55vh;
	min-height: 600px;
}

#orgomapa.full {
	position: absolute;
	height: calc(100% - 60px);
}

table#dashboard {
	font-size: 13px;
	width: 100%;
	border-collapse: collapse;
}
table#dashboard td, table#dashboard th {
	text-align: center;
	border: 1px #444444 solid;
}
table tr:nth-child(odd) {
	background-color: #ddd;
}
table#dashboard thead tr {
	background-color: black;
	color: white;
}

/*SIFRY*/
#sifrovacka_prehled {
	background-color: #444444;
	font-size: 13px;
	margin: 0px -5px;
	}
#sifrovacka_prehled td { text-align: center; }
#sifrovacka_prehled .mini { font-size: 12px; }
#sifrovacka_prehled .green { background-color: #669900; }
#sifrovacka_prehled tr { background-color: #dddddd; }
#sifrovacka_prehled tr.licha { background-color: white; }
#sifrovacka_prehled tr.nadpis { background-color: black; color: white; }

td.cipher-status.status-arrival { background-color: #dbc926; }
td.cipher-status.status-solved { background-color: #669900; }
td.cipher-status .flex {
	display: flex;
	flex-direction: column;
}
td.cipher-status .flex > span {
	margin: 2px 5px;
	display: block;
}
td.cipher-status span.status-solved { background-color: #05C100; }
td.cipher-status span.status-hint { background-color: yellow; }
td.cipher-status span.status-skip { background-color: rgb(255, 98, 98); }
