{{ define "part_org_index_dashboard" }}

{{ $now := .Now }}
{{ $basedir := .Basedir }}
{{ $game := .GameConfig }}

<div class="float-right" style="font-weight: bold;">
{{ if .GameConfig.NotStarted $now }}Hra začíná v {{ .GameConfig.Start | timestamp }}
{{- else if .GameConfig.Ended $now }}Hra skončila v {{ .GameConfig.End | timestamp }}
{{- else if .GameConfig.End }}Hra končí v {{ .GameConfig.End | timestamp }}{{ end }}
</div>

<h2>Stav hry</h2>

{{ template "part_messageBox" . }}

<table id="dashboard">
	<thead class="thead-light"><tr>
		<th>Tým</th>
		{{- range .Ciphers -}}
		<th>
			{{ if .File }}<a href="{{ $basedir }}/org/cipher/{{ .ID }}/download">{{ .Name }}</a>{{ else }}{{ .Name }}{{ end }}
			{{- if .HintText }}<span class="hint" title="{{ .HintText }}">[hint]</span>{{ end }}
			{{- if .SkipText }}<span class="hint" title="{{ .SkipText }}">[skip]</span>{{ end }}
		</th>
		{{- end }}
	</tr></thead>
	{{ range .Teams }}
	<tr>
		<th>{{ if $game.HasMap }}<a href="#" onclick="showPath('{{ .Config.ID }}'); return false;">{{ .Config.Name }}</a>{{ else }}<strong>{{ .Config.Name }}</strong>{{ end }}
			{{- if eq $game.OrderMode "points" }}<br>Bodů: {{ .Points }}{{ end -}}
		</th>
		{{- $team := . -}}
		{{ range $.Ciphers }}
			{{- $status := index $team.Ciphers .ID -}}
			{{ if not $status.Arrival.IsZero }}
			<td class="cipher-status {{ if $status.Solved }}status-solved{{ else if $status.Arrival }}status-arrival{{ end }}">
			{{- if not .NotCipher -}}
			<div class="flex">
				<span class="status-arrival">Příchod: {{ $status.Arrival | timestamp_hint }}</span>
				{{ if $status.Hint }}<br><span class="status-hint">Hint: {{ $status.Hint | timestamp_hint }}</span>{{ end }}
				{{ if $status.Skip }}<br><span class="status-skip">Skip: {{ $status.Skip | timestamp_hint }}</span>{{ end }}
				{{ if $status.Solved }}<br><span class="status-solved">Postup: {{ $status.Solved | timestamp_hint }}
					{{- if eq $game.OrderMode "points" }}<br>Bodů: <b>{{ $status.Points }}</b>
						{{- if $status.ExtraPoints }} <small>(extra: {{ $status.ExtraPoints }})</small>{{ end -}}
					{{ end -}}
				</span>{{ end }}
			</div>
			{{- end -}}
			</td>
			{{- else -}}
			<td>-</td>
			{{ end }}
		{{- end }}
	</tr>
	{{ end }}
</table>

<div id="team-list">
	<h2>Týmy</h2>
	{{ range .Teams}}
		<div class="team" id="team-{{ .Config.ID }}">
			{{ if $game.HasMap }}<a href="#" onclick="showPath('{{ .Config.ID }}'); return false;"><strong>{{ .Config.Name }}</strong></a>{{ else }}<strong>{{ .Config.Name }}</strong>{{ end }}
			(ID: <code>{{ .Config.ID }}</code>, login: <code>{{ .Config.Login }}</code>)
			{{ if and $game.IsOnline .Config.Members -}}
				{{ $first := true }}
				<a class="btn btn-secondary btn-sm" href="mailto:{{ range $name, $email := .Config.Members -}}
					{{- if $first }}{{ $first = false }}{{ else }},{{ end -}}
					%22{{ $name }}%22 %3C{{ $email }}%3E
				{{- end }}?subject=Šifrovačka informace&amp;body=Login:{{ .Config.Login }}%0AHeslo:{{ .Config.Password }}">
					Připravit email
				</a>
			{{ end -}}
			<ul>
				{{ if eq $game.OrderMode "points" }}<li>Získané body: <b>{{ .Points }}</b></li>{{ end }}
				<li>Poslední pohyb: {{ .Status.LastMoved | timestamp }}</li>
				{{ if .Config.Jitsi }}<li>Jitsi meeting: <a target="_blank" href="https://meet.jit.si/{{ .Config.Jitsi }}"><code>{{ .Config.Jitsi }}</code></a></li>{{ end }}
				{{ if .Config.Members -}}{{ $first := true -}}
				<li>Členové: {{ range $name, $contact := .Config.Members -}}
					{{- if $first }}{{ $first = false }}{{ else }}, {{ end -}}
					{{ contact_link $name $contact }}
				{{- end }}</li>
				{{ end -}}
				{{ if eq $game.Mode "online-map"}}<li>Cooldown: {{ if .Status.CooldownTo }}{{ if $now.Before .Status.CooldownTo }}{{ .Status.CooldownTo | timestamp }}{{ end }}{{ end }}</li>{{ end }}
				<li>Trasa: <a href="{{ $basedir }}org/team/{{ .Config.ID }}/gpx">[stáhnout gpx]</a></li>
			</ul>
		</div>
	{{ end }}
	</div>
</div>

<script type="text/javascript">
// Hloupá pravidelná kontrola, jestli se něco změnilo
setInterval(function() {
	$.ajax({
		url: '{{ .Basedir }}/org/api/hash',
		type: 'GET',
		success: function (data) {
			if (data != '{{ .GameHash }}') {
				window.location.reload();
			}
		}
	});
}, 10_000);
</script>

{{ end }}
