{{ define "part_org_index_dashboard" }}

{{ $now := .Now }}
{{ $basedir := .Basedir }}
{{ $game := .GameConfig }}

<div class="float-right" style="font-weight: bold;">
{{ if .GameConfig.NotStarted $now }}Hra začíná v {{ .GameConfig.Start | timestamp }}
{{- else if .GameConfig.Ended $now }}Hra skončila v {{ .GameConfig.End | timestamp }}
{{- else if .GameConfig.HasEnd }}Hra končí v {{ .GameConfig.End | timestamp }}{{ end }}
</div>

<h2>Stav hry</h2>

{{ template "part_messageBox" . }}

<table id="dashboard">
	<thead class="thead-light"><tr>
		<th>Tým</th>
		{{- range .Ciphers -}}
		<th>
			{{ if .File }}<a href="{{ $basedir }}/org/cipher/{{ .ID }}/download">{{ .Name }}</a>{{ else }}{{ .Name }}{{ end }}
			{{- if .HintText }}<span class="hint" title="{{ .HintText }}">[hint]</span>{{ end }}
			{{- if .SkipText }}<span class="hint" title="{{ .SkipText }}">[skip]</span>{{ end }}
		</th>
		{{- end }}
	</tr></thead>
	{{ range .Teams }}
	<tr>
		<th>
			<a href="{{ $basedir }}/org/team/{{ .Config.ID }}" title="Detail týmu">{{ .Config.Name }}</a>
			{{ if $game.HasMap }}<br><a href="#" onclick="showPath('{{ .Config.ID }}'); return false;"><small>zobrazit na mapě</small></a>{{ end }}
			{{- if eq $game.OrderMode "points" }}<br>Bodů: {{ .Points }}{{ end -}}
		</th>
		{{- $team := . -}}
		{{ range $.Ciphers }}
			{{- $status := index $team.Ciphers .ID -}}
			{{ if not $status.Arrival.IsZero }}
			<td class="cipher-status {{ if $status.Solved }}status-solved{{ else if $status.Arrival }}status-arrival{{ end }}">
			{{- if not .NotCipher -}}
			<div class="flex">
				<span class="status-arrival">Příchod: {{ $status.Arrival | timestamp_hint }}</span>
				{{ if $status.Hint }}<br><span class="status-hint">Hint: {{ $status.Hint | timestamp_hint }}</span>{{ end }}
				{{ if $status.Skip }}<br><span class="status-skip">Skip: {{ $status.Skip | timestamp_hint }}</span>{{ end }}
				{{ if $status.Solved }}<br><span class="status-solved">Postup: {{ $status.Solved | timestamp_hint }}
					{{- if eq $game.OrderMode "points" }}<br>Bodů: <b>{{ $status.Points }}</b>
						{{- if $status.ExtraPoints }} <small>(extra: {{ $status.ExtraPoints }})</small>{{ end -}}
					{{ end -}}
				</span>{{ end }}
				<span class="link"><small><a href="{{ $basedir }}/org/team/{{ $team.Config.ID }}/cipher/{{ .ID }}">Detail šifry</a></small></span>
			</div>
			{{- end -}}
			</td>
			{{- else -}}
			<td><span class="link"><a href="{{ $basedir }}/org/team/{{ $team.Config.ID }}/cipher/{{ .ID }}" title="Detail šifry">—</a></span></td>
			{{ end }}
		{{- end }}
	</tr>
	{{ end }}
</table>

<script type="text/javascript">
// Hloupá pravidelná kontrola, jestli se něco změnilo
setInterval(function() {
	$.ajax({
		url: '{{ .Basedir }}/org/api/hash',
		type: 'GET',
		success: function (data) {
			if (data != '{{ .GameHash }}') {
				window.location.reload();
			}
		}
	});
}, 10_000);
</script>

{{ end }}
