{{ define "part_org_index_dashboard" }}

{{ $now := .Now }}
{{ $basedir := .Basedir }}
{{ $game := .GameConfig }}

<div class="float-right" style="font-weight: bold;">
{{ if .GameConfig.NotStarted $now }}Hra začíná v {{ .GameConfig.Start | timestamp }}
{{- else if .GameConfig.Ended $now }}Hra skončila v {{ .GameConfig.End | timestamp }}
{{- else if .GameConfig.HasEnd }}Hra končí v {{ .GameConfig.End | timestamp }}{{ end }}
</div>

<h2>Stav hry</h2>

{{ template "part_messageBox" . }}

<table id="dashboard" class="full">
<thead class="thead-light">
	<tr>
		<th rowspan="2">Tým</th>
		{{- if .Ciphers.Simple }}<th rowspan="2">Sebraná<br>stanoviště</th>{{ end -}}
		{{- if .Ciphers.MiniCiphers }}<th colspan="{{ len .Ciphers.MiniCiphers }}">Šifřičky</th>{{ end -}}
		{{- if .Ciphers.Ciphers }}<th colspan="{{ len .Ciphers.Ciphers }}">Šifry</th>{{ end -}}
	</tr>
	<tr>
		{{ template "org_table_header" dict "Ciphers" .Ciphers.MiniCiphers }}
		{{ template "org_table_header" dict "Ciphers" .Ciphers.Ciphers }}
	</tr>
</thead>
{{ range .Teams }}
	<tr>
		<th>
			<a href="{{ basedir }}/org/team/{{ .Config.ID }}" title="Detail týmu">{{ .Config.Name }}</a>
			{{ if $.GameConfig.HasMap }}<br><a href="#" onclick="showPath('{{ .Config.ID }}'); return false;"><small>zobrazit na mapě</small></a>{{ end }}
			<small>
			{{- if eq $.GameConfig.OrderMode "points" }}<br>Bodů: {{ .Points }}{{ end -}}
			{{ if $.Ciphers.Ciphers }}<br>Šifer: {{ .Stats.SolvedCiphers }}/{{ .Stats.FoundCiphers }} z {{ len $.Ciphers.Ciphers }}{{ end }}
			{{ if $.Ciphers.MiniCiphers }}<br>Šifřiček: {{ .Stats.SolvedMiniCiphers }}/{{ .Stats.FoundMiniCiphers }} z {{ len $.Ciphers.MiniCiphers }}{{ end }}
			<br>Nápověd: {{ .Stats.UsedHints }}
			<br>Přeskočení: {{ .Stats.UsedSkips }}
			</small>
		</th>
		{{ if $.Ciphers.Simple -}}
			<th>{{ .Stats.FoundSimple }} / {{ len $.Ciphers.Simple }}</th>
		{{- end }}
		{{ template "org_table_row" dict "Ciphers" $.Ciphers.MiniCiphers "Game" $.GameConfig "Team" . "Type" "dashboard" }}
		{{ template "org_table_row" dict "Ciphers" $.Ciphers.Ciphers "Game" $.GameConfig "Team" . "Type" "dashboard" }}
	</tr>
{{ end }}
</table>

<script type="text/javascript">
// Hloupá pravidelná kontrola, jestli se něco změnilo
setInterval(function() {
	$.ajax({
		url: '{{ .Basedir }}/org/api/hash',
		type: 'GET',
		success: function (data) {
			if (data != '{{ .GameHash }}') {
				window.location.reload();
			}
		}
	});
}, 10_000);
</script>

{{ end }}
