{{ define "org_index_map" }}
{{ template "part_head_start" . }}
{{ template "part_head_leaflet" . }}
{{ template "part_head_end_org" . }}
<body class="wide">
{{ template "part_org_nav" . }}

{{ $now := .Now }}
{{ $basedir := .Basedir }}
{{ $game := .GameConfig }}

<div id="orgomapa"></div>

<main>
<div class="pull-right" style="font-weight: bold;">
{{ if .GameConfig.NotStarted $now }}Hra začíná v {{ .GameConfig.Start | timestamp }}
{{- else if .GameConfig.Ended $now }}Hra skončila v {{ .GameConfig.End | timestamp }}
{{- else if .GameConfig.End }}Hra končí v {{ .GameConfig.End | timestamp }}{{ end }}
</div>

<h2>Stav hry</h2>

{{ template "part_messageBox" . }}

<table id="dashboard">
	<thead class="thead-light"><tr>
		<th>Tým</th>
		{{- range .Ciphers -}}
		<th>
			{{ if .File }}<a href="{{ $basedir }}/org/cipher/{{ .ID }}/download">{{ .Name }}</a>{{ else }}{{ .Name }}{{ end }}
			{{- if .HintText }}<span class="hint" title="{{ .HintText }}">[hint]</span>{{ end }}
			{{- if .SkipText }}<span class="hint" title="{{ .SkipText }}">[skip]</span>{{ end }}
		</th>
		{{- end }}
	</tr></thead>
	{{ range .Teams }}
	<tr>
		<th><a href="#" onclick="showPath('{{ .Config.ID }}'); return false;">{{ .Config.Name }}</a>
			{{- if eq $game.OrderMode "points" }}<br>Bodů: {{ .Points }}{{ end -}}
		</th>
		{{- $team := . -}}
		{{ range $.Ciphers }}
			{{- $status := index $team.Ciphers .ID -}}
			{{ if not $status.Arrival.IsZero }}
			<td class="cipher-status {{ if $status.Solved }}status-solved{{ else if $status.Arrival }}status-arrival{{ end }}">
			{{- if not .NotCipher -}}
			<div class="flex">
				<span class="status-arrival">Příchod: {{ $status.Arrival | timestamp_hint }}</span>
				{{ if $status.Hint }}<br><span class="status-hint">Hint: {{ $status.Hint | timestamp_hint }}</span>{{ end }}
				{{ if $status.Skip }}<br><span class="status-skip">Skip: {{ $status.Skip | timestamp_hint }}</span>{{ end }}
				{{ if $status.Solved }}<br><span class="status-solved">Postup: {{ $status.Solved | timestamp_hint }}
					{{- if eq $game.OrderMode "points" }}<br>Bodů: <b>{{ $status.Points }}</b>
						{{- if $status.ExtraPoints }} <small>(extra: {{ $status.ExtraPoints }})</small>{{ end -}}
					{{ end -}}
				</span>{{ end }}
			</div>
			{{- end -}}
			</td>
			{{- else -}}
			<td>-</td>
			{{ end }}
		{{- end }}
	</tr>
	{{ end }}
</table>

<div id="team-list">
	<h2>Týmy</h2>
	{{ range .Teams}}
		<div class="team" id="team-{{ .Config.ID }}">
			<a href="#" onclick="showPath('{{ .Config.ID }}'); return false;"><strong>{{ .Config.Name }}</strong></a>
			(ID: <code>{{ .Config.ID }}</code>, login: <code>{{ .Config.Login }}</code>)
			{{ if .Config.Members -}}
				{{ $first := true }}
				<a class="btn btn-secondary btn-sm" href="mailto:{{ range $name, $email := .Config.Members -}}
					{{- if $first }}{{ $first = false }}{{ else }},{{ end -}}
					%22{{ $name }}%22 %3C{{ $email }}%3E
				{{- end }}?subject=Šifrovačka informace&amp;body=Login:{{ .Config.Login }}%0AHeslo:{{ .Config.Password }}">
					Připravit email
				</a>
			{{ end -}}
			<ul>
				{{ if eq $game.OrderMode "points" }}<li>Získané body: <b>{{ .Points }}</b></li>{{ end }}
				<li>Poslední pohyb: {{ .Status.LastMoved | timestamp }}</li>
				{{ if .Config.Jitsi }}<li>Jitsi meeting: <a target="_blank" href="https://meet.jit.si/{{ .Config.Jitsi }}"><code>{{ .Config.Jitsi }}</code></a></li>{{ end }}
				{{ if .Config.Members -}}{{ $first := true -}}
				<li>Členové: {{ range $name, $email := .Config.Members -}}
					{{- if $first }}{{ $first = false }}{{ else }}, {{ end -}}
					<a href="mailto:%22{{ $name }}%22 %3C{{ $email }}%3E">{{ $name }}</a>
				{{- end }}</li>
				{{ end -}}
				<li>Cooldown: {{ if .Status.CooldownTo }}{{ if $now.Before .Status.CooldownTo }}{{ .Status.CooldownTo | timestamp }}{{ end }}{{ end }}</li>
				<li>Trasa: <a href="{{ $basedir }}org/team/{{ .Config.ID }}/gpx">[stáhnout gpx]</a></li>
			</ul>
		</div>
	{{ end }}
	</div>
</div>
</main>

<script type="text/javascript">
// Map:
var map = L.map('orgomapa', {
	"center": [{{.GameConfig.StartLat}}, {{ .GameConfig.StartLon}}],
	"zoom": {{ .GameConfig.MapDefaultZoom }}, "minZoom": 6, "maxZoom": 18,
	"fullscreenControl": true, "fullscreenControlOptions": {"position":"topleft"}
});
var hash = new L.Hash(map);

L.tileLayer('https://m{s}.mapserver.mapy.cz/turist-m/{z}-{x}-{y}', {
	attribution: "<img src='https://mapy.cz/img/logo-small.svg' /> © Seznam.cz,a.s, © Přispěvatelé <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a>, © NASA",
	subdomains: "1234",
}).addTo(map);

{{ range .Ciphers }}
	L.circle({{ .Position.Point | latlon }}, {
		color: 'yellow',
		fillColor: '#fbff94',
		fillOpacity: 0.5,
		radius: {{ .Position.Radius }}
	}).addTo(map);

	L.marker({{ .Position.Point | latlon }}, {
		title: "{{ .Name }}",
		icon: cipherIcon,
	}).addTo(map).on('click', function() {highlightCipher("{{ .ID }}")});
{{ end }}

var displayedPath;
function showPath(id) {
	if (displayedPath) displayedPath.remove();
	$("#orgomapa").scrollintoview();
	map.panTo(team_positions[id]);
	displayedPath = team_paths[id];
	displayedPath.addTo(map);
}

var team_markers = [];
var team_positions = [];
var team_paths = [];
{{ range .Teams }}
	team_positions[{{ .Config.ID }}] = {{ .Status.Point | latlon }};
	team_markers[{{ .Config.ID }}] = L.marker({{ .Status.Point | latlon }}, {
		title: "{{ .Config.Name }}",
		icon: teamIcon,
	}).bindPopup("Tým {{ .Config.Name }}").addTo(map).on('click', function() {
		displayedPath = team_paths["{{ .Config.ID }}"];
		displayedPath.addTo(map);
	});
	team_paths[{{ .Config.ID }}] = L.polyline([{{- range .Locations }}{{ .Point | latlon }}, {{ end -}}], {color: 'blue'});

{{ end}}

map.on('popupclose', function(e) {
	if (displayedPath) displayedPath.remove();
});

// Hloupá pravidelná kontrola, jestli se něco změnilo
setInterval(function() {
	$.ajax({
		url: '{{ .Basedir }}/org/api/hash',
		type: 'GET',
		success: function (data) {
			if (data != '{{ .GameHash }}') {
				window.location.reload();
			}
		}
	});
}, 10_000);

</script>

</body>
</html>
{{end}}
