{{ define "part_head_start" -}}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
{{ end }}
{{ define "part_head_end" }}
	<link rel="stylesheet" type="text/css" href="/static/css/shrecker.css">
</head>
<body>
{{- end }}
{{ define "part_head_end_org"}}
	<link rel="stylesheet" type="text/css" href="/static/css/shrecker.css">
	<link rel="stylesheet" type="text/css" href="/static/css/shrecker-org.css">
</head>
{{ end }}
