{{ define "part_org_nav" }}
<header>
	<nav id="main-menu">
		<h1><small>Shrecker</small> {{ .Title }}</h1>
		<a href="{{ .Basedir }}/org/">Přehled</a>

		<form class="right" method="POST" action="{{ .Basedir }}/logout">
			{{ .CSRF }}
			<input type="submit" value="Odhlásit se">
		</form>
	</nav>
</header>
{{ end }}
