{{ define "team_login" }}
{{ template "part_head_start" . }}
{{ template "part_head_end" . }}

<main>
	{{ template "part_messageBox" . }}

	<h1>Přihlášení do hry</h1>
	<form method="post" class="form">
		{{ .CSRF }}
		<div class="row">
			<div class="col">
				<input type="text" name="login" class="form-control" placeholder="Login">
			</div>
			<div class="col">
				<input type="password" name="password" class="form-control" placeholder="Heslo">
			</div>
			<div class="col">
				<input type="submit" value="Login" class="btn btn-primary">
			</div>
		</div>
	</form>
</main>

</body>
</html>
{{ end }}
