{{ define "team_index_map" }}
{{ template "part_head_start" .}}
{{ template "part_head_leaflet" . }}
{{ template "part_head_end" .}}
<body>

{{ $now := .Now }}
{{ $csrf := .CSRF }}
{{ $game := .GameConfig }}
{{ $basedir := .Basedir }}
{{ $enabled := not (or (.GameConfig.Ended $now) (.GameConfig.NotStarted $now)) }}

<div id="panel">
{{ template "part_messageBox" . }}

<div id="team-status">
	<form method="POST" action="{{ $basedir }}/logout" class="pull-right">
		{{ $csrf }}
		<button class="btn btn-sm btn-secondary">Odhlásit</button>
	</form>
	<h2>Tým: {{.TeamConfig.Name}}</h2>
	<ul>
		<li>Pozice: <a href="#" onclick="map.panTo({{ .TeamStatus.Point | latlon }});">{{ .TeamStatus.Point | latlon_human }}</a></li>
		{{ if .TeamConfig.Jitsi }}<li>Jitsi meeting: <a target="_blank" href="https://meet.jit.si/{{ .TeamConfig.Jitsi }}"><code>{{ .TeamConfig.Jitsi }}</code></a></li>{{ end }}
		{{ if eq .GameConfig.OrderMode "points" }}<li>Získané body: <b>{{ .TeamPoints }}</b></li>{{ end }}
		{{ if .TeamStatus.CooldownTo }}{{ if $now.Before .TeamStatus.CooldownTo }}<li>Další pohyb bude možný v {{ .TeamStatus.CooldownTo | timestamp }}</li>{{ end }}{{ end }}
		{{ if .GameConfig.NotStarted $now }}<li>Hra začíná v {{ .GameConfig.Start | timestamp }}</li>
		{{- else if .GameConfig.Ended $now }}<li>Hra skončila v {{ .GameConfig.End | timestamp }}</li>
		{{- else if .GameConfig.End }}<li>Hra končí v {{ .GameConfig.End | timestamp }}</li>{{ end }}
	</ul>
</div>

<div id="cipher-list">
<h2>Šifry</h2>
{{ range .Ciphers}}
	<div class="cipher {{ if .Solved }}solved{{ else if .Skip }}skip{{ end }}" id="cipher-{{ .Config.ID }}">
		<strong>{{ if .Config.File }}<a href="{{ $basedir }}/cipher/{{ .Config.ID }}/download">{{ .Config.Name }}</a>{{ else }}{{ .Config.Name }}{{ end }}</strong>
		{{ if .Config.NotCipher }}{{ else }}
		<ul>
			<li><small>Objeveno v {{ .Arrival | timestamp }}</small></li>
			{{ if .Hint }}<li><small>Nápověda v {{ .Hint | timestamp }}:</small><br><b>{{ .Config.HintText }}</b>{{ end }}
			{{ if .Solved }}<li><small>Vyřešeno v {{ .Solved | timestamp }}</small></li>{{ end }}
			{{ if .Skip }}<li><small>Přeskočeno v {{ .Skip | timestamp }}:</small><br><b>{{ .Config.SkipText }}</b>{{ end }}
			{{ if and (eq $game.OrderMode "points") .Points -}}
				<li><small>Získané body:</small> <b>{{ .Points }}</b>
				{{- if .ExtraPoints }}(<small>{{ if gt .ExtraPoints 0 }}Extra body{{ else }}Penalizace{{ end }}:</small> <b>{{ .ExtraPoints }}</b>){{ end -}}
				</li>
			{{ end }}
		</ul>
		{{ $displayHintButton := and .Config.HintText (not .Hint) (not .Skip) }}
		{{ $displaySkipButton := and .Config.SkipText (not .Skip) }}

		{{ if and $enabled (not .Solved) (or $displayHintButton $displaySkipButton) }}
		<form method="POST">
			{{ $csrf }}
			<input type="hidden" name="cipher" value="{{ .Config.ID }}">
			<div class="btn-group">
				{{- if $displayHintButton }}
				<input type="submit" name="hint" class="btn btn-sm btn-primary" value="Požádat o nápovědu"
					{{- if lt ( $now.Sub .Arrival ) $game.HintLimit }} disabled title="Nápovědu lze získat nejdříve {{ $game.HintLimit }} po příchodu" data-countdown-disabled="{{ .Arrival.Add $game.HintLimit | timestamp_js }}"
					{{- end }} onclick="return confirm('Opravdu požádat o nápovědu k šifře {{ .Config.Name }}? Tato akce nelze vzít zpátky');">
				{{- end }}
				{{- if $displaySkipButton}}
				<input type="submit" name="skip" class="btn btn-sm btn-danger" value="Přeskočit šifru"
					{{- if lt ( $now.Sub .Arrival ) $game.SkipLimit }} disabled title="Přeskočit šifru lze získat nejdříve {{ $game.SkipLimit }} po příchodu" data-countdown-disabled="{{ .Arrival.Add $game.SkipLimit | timestamp_js }}"
					{{- end }} onclick="return confirm('Opravdu přeskočit šifru {{ .Config.Name }}? Tato akce nelze vzít zpátky');">
				{{- end }}
			</div>
		</form>
		{{ end }}
		{{ end }}
	</div>
{{ end }}
</div>
</div>

<div id="mapa" class="clickable"></div>

<script type="text/javascript">
// Map:

var currentPos = {{.TeamStatus.Point | latlon}}

var map = L.map('mapa', {
	"center": currentPos,
	"zoom": {{ .GameConfig.MapDefaultZoom }}, "minZoom": 6, "maxZoom": 18,
	"fullscreenControl": true, "fullscreenControlOptions": {"position":"topleft"}
});
// var hash = new L.Hash(map);

L.tileLayer('https://m{s}.mapserver.mapy.cz/turist-m/{z}-{x}-{y}', {
	attribution: "<img src='https://mapy.cz/img/logo-small.svg' /> © Seznam.cz,a.s, © Přispěvatelé <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a>, © NASA",
	subdomains: "1234",
}).addTo(map);

{{ range .Ciphers }}
	L.circle({{ .Config.Position.Point | latlon }}, {
		color: 'yellow',
		fillColor: '#fbff94',
		fillOpacity: 0.5,
		radius: {{ .Config.Position.Radius }}
	}).addTo(map);

	L.marker({{ .Config.Position.Point | latlon }}, {
		title: "{{ .Config.Name }}",
		icon: cipherIcon,
	}).addTo(map).on('click', function() {highlightCipher({{ .Config.ID }})});
{{ end }}

var marker = L.marker(currentPos, {
	title: "Vaše poslední pozice",
	icon: teamIcon,
}).addTo(map);

L.polyline([
{{- range .Locations }}{{ .Point | latlon }}, {{ end -}}
currentPos], {color: 'blue'}).addTo(map);

var lineToClick;

map.on('click', function(e) {
	if (lineToClick) lineToClick.remove();
	lineToClick = L.polyline([currentPos, e.latlng], {color: 'red'}).addTo(map);

	var popup = L.popup()
	.setLatLng(e.latlng)
	.setContent('...Počítám vzdálenost...')
	.openOn(map);

	$.ajax({
		url: '{{ .Basedir }}/api/calc-move',
		data: {
			lat: e.latlng.lat,
			lon: e.latlng.lng,
		},
		type: 'GET',
		dataType: 'json',
		success: function (data, textStatus, xhr) {
			if ("error" in data) {
				if (data["error"] == "cooldown") {
					popup.setContent("Ještě se nemůžete přesunout, musíte počkat do " + data["cooldown_to"]);
				} else if (data["error"] == "not-started") {
					popup.setContent("Hra ještě nezačala. Start je v " + data["start"]);
				} else if (data["error"] == "ended") {
					popup.setContent("Hra již skončila, konec byl v " + data["end"]);
				} else {
					popup.setContent("Jiná chyba: " + data["error"]);
				}
				return
			}
			popup.setContent(
				"<p>Přesun na vzdálenost <b>" + Math.round(data["distance"]) + " metrů</b>. "
				+"Přesunete se okamžitě a prohledáte okolí na přítomnost šifer, ale pak si "
				+"budete muset na <b>" + data["cooldown"] + "</b> odpočinout, než budete moci jít na novou pozici.</p>"
				+'<form method="POST">{{ .CSRF }}<input type="hidden" name="move-lat" value="' + e.latlng.lat + '">'
				+'<input type="hidden" name="move-lon" value="' + e.latlng.lng + '"><button class="btn btn-primary">Přesunout se</button></form>'
			);
		}
	});
}).on('popupclose', function(e) {
	if (lineToClick) lineToClick.remove();
});

</script>

</body>
</html>
{{end}}
