{{ define "org_team" }}
{{ template "part_head_start" . }}
{{ template "part_head_end_org" . }}
<body>
{{ template "part_org_nav" . }}

{{ $now := .Now }}
{{ $basedir := .Basedir }}
{{ $game := .GameConfig }}

<main>
<h2>Detail týmu {{ .Team.Config.Name }}{{ if .Team.Config.Virtual }} <span class="badge badge-secondary" title="Tým řeší šifry z domova, nesbírá stanoviště">virtuální</span>{{ end }}</h2>

<div class="row">

<div class="col-sm">
<h3>Konfigurace</h3>

<table class="table table-sm">
	<tr><td>ID</td><td><code>{{ .Team.Config.ID }}</code></td></tr>
	{{ if .Team.Config.Virtual }}
	<tr><td class="hint" title="Tým řeší šifry z domova, nesbírá stanoviště a nezapočítává se do kritéria posledního týmu">Typ</td><td>virtuální</td></tr>
	{{ end }}
	{{ if .Team.Config.CompanionIDs }}
	<tr><td class="hint" title="Vidí šifry získané těmito týmy">Sdružené týmy:</td><td>
		{{ range $i, $id := .Team.Config.CompanionIDs }}{{ if gt $i 0 }}, {{ end }}<a href="{{ $basedir }}/org/team/{{ $id }}">{{ $id }}</a>{{ end }}
	</td></tr>
	{{ end }}
	{{ if .Team.Config.SMSCode }}
	<tr><td>SMS kód</td><td><code>{{ .Team.Config.SMSCode }}</code></td></tr>
	{{ end }}
	<tr><td>Login</td><td><code>{{ .Team.Config.Login }}</code></td></tr>
	<tr><td>Heslo</td><td>
		<label class="toggle-label" for="password-toggle">👁</label>
		<input class="toggle-checkbox" id="password-toggle" type="checkbox">
		<code class="toggle-invisible">{{ .Team.Config.Password }}</code>
		<img class="toggle-hidden" src="{{ $basedir }}/org/qr-gen?text={{ .TeamLoginLink }}" title="{{ .TeamLoginLink }}">
	</td></tr>
	{{ if .Team.Config.Jitsi }}
	<tr><td>Jitsi meeting</td><td><a target="_blank" href="https://meet.jit.si/{{ .Team.Config.Jitsi }}"><code>{{ .Team.Config.Jitsi }}</code></a></td></tr>
	{{ end }}
	{{ if .Team.Config.Members -}}
	<tr><td>Členové</td><td><ul>
		{{ range $name, $contact := .Team.Config.Members -}}
			<li>{{ contact_link $name $contact }}</li>
		{{- end }}
		</ul></td></tr>
	{{ end -}}
</table>
</div>

<div class="col-sm">
<h3>Status</h3>

<table class="table table-sm">
	{{ if $game.HasPoints }}<tr><th>Získané body</th><td><b>{{ .Team.Points }}</b></td></tr>{{ end }}
	{{ if $game.HasMiniCipherHints }}<tr><th>Šifřičkové konto</th><td><b>{{ .Team.Stats.HintScore }}</b></td></tr>{{ end }}
	<tr><td>Použito nápověd</td><td>{{ .Team.Stats.UsedHints }}</td></tr>
	<tr><td>Použito přeskočení</td><td>{{ .Team.Stats.UsedSkips }}</td></tr>
	{{ if .Team.Locations }}
	<tr><td>Záznam trasy</td><td>{{ len .Team.Locations }} bodů <a href="{{ $basedir }}/org/team/{{ .Team.Config.ID }}/gpx">[stáhnout gpx]</a></td></tr>
	<tr><td>Poslední pohyb</td><td>{{ .Team.Status.LastMoved | timestamp }}</td></tr>
	{{ end }}
	{{ if eq $game.Mode "online-map"}}<tr><td>Cooldown</td><td>{{ if .Status.CooldownTo }}{{ if $now.Before .Status.CooldownTo }}{{ .Status.CooldownTo | timestamp }}{{ end }}{{ end }}</td></tr>{{ end }}
</table>

</div>
</div>

{{ if .Ciphers.Ciphers }}
<h3>Šifry <small>({{ .Team.Stats.FoundCiphers }}/{{ len .Ciphers.Ciphers }} nalezeno, {{ .Team.Stats.SolvedCiphers }}/{{ len .Ciphers.Ciphers }} vyřešeno)</small></h3>
</main>

<main class="wide">
<table id="dashboard">
<thead class="thead-light"><tr>
	{{ template "org_table_header" dict "Ciphers" .Ciphers.Ciphers}}
</tr></thead>
<tr>
	{{ template "org_table_row" dict "Ciphers" .Ciphers.Ciphers "Game" .GameConfig "Team" .Team "Type" "single" }}
</tr><tr>
	{{ range .Ciphers.Ciphers }}
	<td><a href="{{ basedir }}/org/team/{{ $.Team.Config.ID }}/cipher/{{ .ID }}">Detaily</a></td>
	{{- end }}
</tr>
</table>
</main>
<main>
{{ end }}

{{ if .Ciphers.MiniCiphers }}
<h3>Šifřičky <small>({{ .Team.Stats.FoundMiniCiphers }}/{{ len .Ciphers.MiniCiphers }} nalezeno, {{ .Team.Stats.SolvedMiniCiphers }}/{{ len .Ciphers.MiniCiphers }} vyřešeno)</small></h3>
</main>

<main class="wide">
<table id="dashboard">
<thead class="thead-light"><tr>
	{{ template "org_table_header" dict "Ciphers" .Ciphers.MiniCiphers}}
</tr></thead>
<tr>
	{{ template "org_table_row" dict "Ciphers" .Ciphers.MiniCiphers "Game" .GameConfig "Team" .Team "Type" "single" }}
</tr><tr>
	{{ range .Ciphers.MiniCiphers }}
	<td><a href="{{ basedir }}/org/team/{{ $.Team.Config.ID }}/cipher/{{ .ID }}">Detaily</a></td>
	{{- end }}
</tr>
</table>
</main>
<main>
{{ end }}

{{ if .Ciphers.Simple }}
<h3>Stanoviště <small>({{ .Team.Stats.FoundSimple }}/{{ len .Ciphers.Simple }} nalezeno)</small></h3>
<div class="cipher-simple-wrap">
{{ range .Ciphers.Simple }}
	{{- $status := index $.Team.Ciphers .ID -}}
	{{- $is_companion := and (not $status.Arrival.IsZero) (ne $status.Team $.Team.Config.ID) -}}
	<div class="cipher-simple{{ if not $status.Arrival.IsZero }} found{{ end }}{{ if $is_companion }} companion{{ end }}" {{ if $is_companion }}title="Nalezeno spolutýmem {{ $status.TeamP.Name }}"{{ end }}>
		<div class="title">{{ if .File }}<a title="Stáhnout" href="{{ basedir }}/org/cipher/{{ .ID }}/download">{{ .Name }}</a>{{ else }}{{ .Name }}{{ end }}</div>
		<div class="body">
			<a title="Detail" href="{{ basedir }}/org/team/{{ $.Team.Config.ID }}/cipher/{{ .ID }}">
			{{ if not $status.Arrival.IsZero }}<span class="status-arrival" title="Čas příchodu">{{ $status.Arrival | timestamp_hint }}</span>
			{{else}}—{{ end }}
			</a>
		</div>
	</div>
{{ end }}
</div><br>
{{ end }}

<h3>Zprávy <small>({{ len .Team.Messages}})</small></h3>

<table class="table table-bordered table-striped" id="history">
	<thead>
		<tr><th>Čas</th><th>Zdroj</th><th>Šifra</th><th>Zpráva od týmu</th><th>Odpověď</th></tr>
	</thead>
	<tbody>
		{{ range .Team.Messages}}
		<tr>
			<td>{{ .Time | timestamp_hint }}</td>
			<td>{{ if .SMSID }}<a href="tel:{{ .PhoneNumber }}">{{ .PhoneNumber }}</a>{{ else }}{{ .PhoneNumber }}{{ end }}</td>
			<td>{{ if .Cipher }}
				{{ $c := index $.CiphersMap .Cipher }}
				{{ if $c }}<a href="{{ basedir }}/org/team/{{ $.Team.Config.ID }}/cipher/{{ $c.ID }}">{{ $c.Name }}</a>{{ else }}???{{ end }}
			{{ end }}</td>
			<td>{{ .Text }}</td>
			<td>{{ .Response | safeHTML }}</td>
		</tr>
		{{ end }}
	</tbody>
</table>

</main>

</body>
</html>
{{ end }}
