{{ define "org_index" }}
{{ template "part_head_start" . }}
{{ template "part_head_end_org" . }}
<body class="wide">
{{ template "part_org_nav" . }}

<main>
{{ template "part_org_index_dashboard" . }}
</main>

</body>
</html>
{{end}}
